# Directories
.vs
Backups
Datasets/MovieLens
Datasets/economy
Datasets/world
Debug
Release
bin
ipch

# Files
Datasets/1m-indices.txt
Datasets/1m-test.txt
Datasets/1m-train.txt
Datasets/farsnews_corpus.txt
Datasets/test.txt
Datasets/train.txt
Datasets/vocabularies.txt
Pw_q.txt
Pw_z.txt
Pz_d.txt
Pz_q.txt
Thumbs.db
beta.txt
test_var_gamma.txt
var_gamma.txt

# Extensions
*.core
*.log
*.opensdf
*.pyc
*.sdf
*.stackdump
*.suo
*.swo
*.swp
*.tar.gz
*~

